body {
background: url(' imagenes/sky.jpg ') no-repeat;
background-size: cover;
font-family: Arial;
color: whitesmoke;
}

li{
    background-image: url(' imagenes/ripped.png ') ;
}

ul{margin:0px;
padding:0px;
list-style: none;
}
div.rotulo{
    color: red;
}
div.invitado{
    color: peru;
}

div.admin{
    color: blueviolet;
}

ul li{
float: left;
width: 203px;
heiht:40px;
background-color: #81BEF7;
opacity: .8;
line-height: 40px;
text-align: center;
font-size: 20px;
margin-right: 2px;
}

ul li a{
text-decoration: none;
color: green;
display: block;
}

ul li a:hover{
    color: white;
background-color: greenyellow;
}

ul li ul li{
display: none;
}

ul li:hover ul li{
display: block;
}
div.row title{
    font-family: Arial;
    color: white;
}

nav{
    background: #81BEF7;
}

.title{background-color: transparent;
       color:beige;
       text-align: center;
       font-size: 25px; 
       font-family: cursive;}

.contenido{font-family: cursive;}

div.row{width: 100% !important;}

.btn-black{ background-color: black; color: white;}

.btn-blue{ background-color: orange; color: greenyellow;}

.white{color: beige;}